.bento-hover-scale {
  cursor: pointer;
  transition: 0.2s ease;
  &:hover {
    transform: scale(1.03);
  }
}
.--center {
  padding: 0 4vw;
  max-width: 1860px;
  margin: auto;
  display: block;
}
.max-width-1600px {
  max-width: 1600px;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  width: breakpoints(phone);
  background-color: var(--color-bg);
  transition: background-color 0.2s ease-in;
  color: var(--color-text);
}
.margin {
  margin: 40px;
  width: 100%;
}
.carousel-control-prev {
  left: -25px;
}
.carousel-control-next {
  right: -25px;
}
.--center.carousel.slide.carousel-dark {
  max-width: 750px;
  height: 420px;
  overflow: hidden;
}
