.--center {
  padding: 0 4vw;
  max-width: 1860px;
  margin: auto;
  display: block;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  width: breakpoints(phone);
}
.margin {
  margin: 40px;
  width: 100%;
}
// $colorMainJaune: #ffd24c;
// $breakpoints: (
//   phone: 640px,
//   tablet: 768px,
//   desktop: 1024px,
// ) !default;

$b-mobile: 640px;
$b-desktop: 1024px;
$b-large-desktop: 1800px;
$paddingTop-menu: 6vw;
// Couleurs principals de mon site

$mauve-light: #625f93;
$mauve-blue: #200ac2;
$jaune-dark: #fa9e3f;
$jaune-light: #face52;

$platinum: #e9e3e6;
$pale-silver: #c3baba;
$spanish-viridian: #1c7c54;
$spanish-viridian-hover: #2cb57c;
$silver-chalice: #b2b2b2;
$sonic-silver: #736f72;
$onyx: #36393b;
$onyx-hover: #4c4e50;
$mango-tango: #ed7d3a;
$rose-pale: #EF476F;
//Function qui permet d'avoir un array dans un variable scss et permet de la mentionner comme ci elle était une propriété css
//Exemple width : breakpoints(phone) -> 640px;
// @function color($breakpoints) {
//   @return map-get(map-get($breakpoints));
// }
