.o-accueil {
  &-realisation {
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: inherit;

    &-figure {
      font-size: 10px;

      & img {
        width: 100%;
      }
    }
  }
}
