.o-accueil {
  &-realisation {
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    @media (min-width: $b-mobile) {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }
    &-zone {
      z-index: 2;
      display: flex;
      flex-direction: column;
      @media (min-width: $b-mobile) {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
      }
      @media (min-width: $b-desktop) {
        width: 85%;
        margin: auto;
      }
    }
    &-figcaption {
      position: relative;
      top: -185px;
      text-align: center;
      margin: 0 20px;
      background-color: white;
      border-radius: 5%;
      opacity: 0;
      transition: ease-in-out 0.2s;
      @media (min-width: $b-mobile) {
        top: -190px;
        font-size: 1.5rem;
      }
    }
    &-figure {
      font-size: 1.2rem;
      font-weight: bold;
      transition: ease-in-out 0.2s;
      @media (min-width: $b-mobile) {
        width: 35%;
      }
      @media (min-width: $b-desktop) {
        width: 42%;
        margin: 0;
      }
      &:hover {
        transform: scale(1.05);
        opacity: 0.9;
        & .o-accueil-realisation-figcaption {
          opacity: 1;
        }
      }
      & .o-accueil-realisation-figcaption-span {
        width: 100%;
        display: block;
      }
      & img {
        width: 100%;
      }
    }
  }
}
