.o-accueil-project {
  position: relative;

  &--title {
    font-size: 12vw;
    text-align: center;
    font-weight: 500;
    padding: 20px 0 30px;
    background-color: $onyx;
    margin: 0;
    color: $platinum;
    @media (min-width: $b-mobile) {
      font-size: 7vw;
      padding: 4vw 0 2vw 0;
    }
  }
  &--article {
    position: relative;
    margin: -10px 20px 0;
    &-description{
      color: $platinum;
      line-height: 23px;
    }
    &-title{
      font-size: 8vw;
      text-align: center;
      font-weight: 500;
      padding: 20px;
      background-color: $onyx;
      margin: 0;
      color: $platinum;
    }
    &-zone{
      // padding-bottom: 20px;
      background-color: $onyx;
    }
    &-image{
      width: 100%;
    }
    &-svg-bottom {
      margin: 0 0 -15px 0;
      width: 100%;
      transform: rotate(180deg);
      & img {
        width: 100%;
      }
    }
  }
  &--techno{
    width: 100%;
    &-svg-top {
      margin: -40px 0 0;
      width: 100%;
      & img {
        width: 100%;
      }
    }
    &-list{
      list-style: none;
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 0 20px;
      & li{
        display: flex;
        flex-wrap: wrap;
       justify-content: center;
        padding: 10px;
        margin: auto;
        & span{
          width: 100%;
          text-align: center;
          margin-bottom: 10px;
        }
      }
    }
  }
}
