.footer {
  padding: 60px 25px 30px;
  width: 100%;
  background-color: var(--color-card-bg);
  position: relative;
  margin-top: 30px;
  &::before {
    content: "";
    position: absolute;
    top: -35px;
    left: 0;
    width: 90%;
    height: 16%;
    background-color: var(--color-primary);
    z-index: 0;
  }
  &::after {
    content: "";
    position: absolute;
    top: -5px;
    right: 0;
    width: 90%;
    height: 16%;
    background-color: var(--color-accent);
    z-index: 0;
  }
}
