.o-header {
  &--title {
    font-size: 12vw;
    text-align: center;
    font-weight: 500;
    @media (min-width: $b-desktop) {
      font-size: 8vw;
      margin-top: 8vw;
    }
  }
  &--image {
    width: 100%;
  }
  &--menu {
    @media (min-width: $b-mobile) {
      display: flex;
      flex-wrap: wrap;
      width: 55%;
      margin-left: auto;
      justify-content: space-between;
      list-style: none;
      height: 50px;
      margin-bottom: 11vw;
    }
    &-item {
      width: 25%;
      text-align: center;
    }
  }
  &--content {
    z-index: 4;
    position: relative;
  }
}
