.o-navigation--desktop--menu {
  width: 60%;
  margin-left: auto;
  &-zone {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 2vw;
    margin-top: 1vw;
  }
  &-item {
    list-style: none;

    & a {
      text-decoration: none;
      font-size: 1.8rem;
      font-weight: 600;
      color: $sonic-silver;
      display: block;
      transition: ease-in-out 0.15s;
      @media (min-width: $b-large-desktop) {
        font-size: 2.8rem;
      }
      &:hover {
        transform: scale(1.25);
        color: $spanish-viridian-hover;
      }
    }
  }
}

.background .o-navigation--desktop--menu-item a {
  color: $platinum;
  &:hover {
    color: $spanish-viridian-hover;
    transform: scale(1.2);
  }
}
