.o-contact {
  width: 100%;
  &-title {
    &.a-title-h1 {
      border: none;
      font-size: 2.5vw;
      margin-bottom: 65px;
      @media (min-width: $b-contact) {
        padding-bottom: 0;
      }
    }
  }
  &-zone {
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &-form {
    width: 450px;
    background-color: $spanish-viridian-hover-transparent-75;
    position: relative;
    padding: 15px 0 25px;
    color: $onyx;
    margin: auto;
    box-shadow: 0px 2px 16px 2px rgba(0, 0, 0, 0.25);
    @media (min-width: $b-contact) {
    }
    &-title {
      margin: 10px;
      font-size: 20px;
      text-align: center;
      font-weight: 700;
    }
    &-input {
      margin: 10px 0;
      & label {
        font-weight: 600;
        width: 100%;
        display: flex;
        & .o-contact-form-required {
          margin-left: 10px;
          font-size: 18px;
        }
      }
      & textarea {
        background-color: $background-interior-input;
        outline: none;
        width: 100%;
        border: none;
        height: 185px;
      }
      & input {
        outline: none;
        border: none;
        width: 100%;
        background-color: $background-interior-input;
      }
    }
    &-submit {
      display: block;
      padding: 5px 55px;
      font-size: 18px;
      font-weight: 600;
      background-color: $background-input;
      color: black;
      border: none;
      margin: 15px auto 0;
      transition: ease-out 0.25s;
      &:hover {
        background-color: $onyx;
        color: $platinum;
      }
      &:active {
        background-color: $mango-tango;
        color: black;
      }
    }
    &-required {
      font-size: 14px;
      font-weight: 700;
      display: block;
    }
  }
  &-fieldset {
    padding: 0 20px;
  }
  &-medialink {
    &-title {
      font-size: 1.3em;
      font-weight: 600;
      text-align: center;
    }
    &-list {
      padding: 0;
      list-style: none;
    }
    &-item {
      position: relative;
      display: flex;
      // &.Youtube::before {
      //   background-color: rgb(255, 0, 0, 0.75);
      // }
      // &.LinkedIn::before {
      //   background-color: rgb(0, 114, 177, 0.75);
      // }
      // &.Facebook::before {
      //   background-color: rgba(24, 119, 242, 0.75);
      // }
      // &.Instagram:hover::before {
      //   background: linear-gradient(
      //     90deg,
      //     rgba(104, 80, 255) 0%,
      //     rgba(236, 83, 104, 0.75) 45.83%,
      //     rgba(255, 209, 47, 0.75) 100%,
      //     rgba(255, 255, 255, 0.75)
      //   );
      //   transition: ease-in-out 0.8s;
      // }

      &::before {
        content: "";
        position: absolute;
        top: px;
        left: 22px;
        width: 80%;
        height: 65%;
        // background-color: $mango-tango-transparent-55;
        z-index: 0;
        transition: ease-in-out 0.3s;
      }

      &:hover::before {
        background-color: $mango-tango-transparent-55;
        transition: ease-in-out 0.3s;
        transform: scale(1.08);
        height: 75%;
        // top: 5px;
        left: 0;
      }
      & a {
        padding: 0;
        width: 100%;
        font-weight: 500;
        position: relative;
        z-index: 1;
        text-decoration: none;
        color: black;
        transition: ease-in-out 0.3s;
        padding: 10px 15px;
        margin: auto;
        font-weight: 700;
        &:hover {
          transition: ease-in-out 0.3s;
          // color: $platinum;
          text-decoration: underline;
          transform: scale(1.08);
        }
      }
    }
  }
}
