.o-contact {
  width: 100%;
  &-title {
    &.a-title-h1 {
      border: none;
      font-size: 2.5vw;
      margin-bottom: 65px;
      @media (min-width: $b-contact) {
        padding-bottom: 0;
      }
    }
  }
  &-zone {
    margin: 25px;
  }
  &-form {
    width: 450px;
    background-color: $spanish-viridian-hover-transparent-75;
    position: relative;
    padding: 15px 0 25px;
    color: $onyx;
    margin: auto;
    box-shadow: 0px 2px 16px 2px rgba(0, 0, 0, 0.25);
    @media (min-width: $b-contact) {
    }
    &-title {
      margin: 10px;
      font-size: 20px;
      text-align: center;
      font-weight: 700;
    }
    &-input {
      margin: 10px 0;
      & label {
        font-weight: 600;
        width: 100%;
        display: flex;
        & .o-contact-form-required {
          margin-left: 10px;
          font-size: 18px;
        }
      }
      & textarea {
        background-color: $background-interior-input;
        outline: none;
        width: 100%;
        border: none;
        height: 185px;
      }
      & input {
        outline: none;
        border: none;
        width: 100%;
        background-color: $background-interior-input;
      }
    }
    &-submit {
      display: block;
      padding: 5px 55px;
      font-size: 18px;
      font-weight: 600;
      background-color: $background-input;
      color: black;
      border: none;
      margin: 15px auto 0;
      transition: ease-out 0.25s;
      &:hover {
        background-color: $onyx;
        color: $platinum;
      }
      &:active {
        background-color: $mango-tango;
        color: black;
      }
    }
    &-required {
      font-size: 14px;
      font-weight: 700;
      display: block;
    }
  }
  &-fieldset {
    padding: 0 20px;
  }
}
